.task{
    align-self: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
    width: 100%;
}
.taskinput{
    width: auto;
    height: 150%;
    font-size: 150%;
    align-self: center;
}
.deletetask{
    background-color: crimson;
    width: 2.8em;
    height: 2.8em;
    align-self: center;
}
.box{
    transform: scale(3);
    margin: 3%;
    align-self: center;
}